{% extends "formbase.html" %}

{% block content %}
<h2>Entradas</h2>
<ul>
  <li><a href="/admin/new">Nuevo Post</a></li>
 </ul>
 <h2>Manejar Entradas</h2>
 <ul>
   <li><a href="/admin/entrylist">Entradas</a></li>
 </ul>
 <h2>Configuracion</h2>
   <ul>
     <li><a href="/admin/config">Site Config</a></li>
   </ul>
{% endblock %}