<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="python, teh, blog, izaac, jizaac appengine django">
<title>{{config.title}} | 
	{% block title %}
		azar, única constante.
	{% endblock %}
</title>
{% block css %}
	<link href="/static/css/blueprint/screen.css" rel="stylesheet" type="text/css"/>
	<link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
	<link type="text/css" rel="stylesheet" href="/static/css/syntax/shCore.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/syntax/shThemeDefault.css" />
	<script type="text/javascript" src="/static/scripts/shCore.js"></script>
	<script type="text/javascript" src="/static/scripts/shBrushPython.js"></script>
	<script type="text/javascript">
	SyntaxHighlighter.all();
	</script>
{% endblock %}
{% block extracss %} {% endblock %}
{% block extrajs %} {% endblock %}
<link rel="alternate" href="/feed" type="application/atom+xml" title="izaac's log"/>
<link rel="alternate" type="application/rss+xml" href="/rss" title="rss for izaac's log">
</head>

<body>
<div id="header">
	<div id="logo">
		<a href="/" id="sitetitle">
			{{config.title}}</a> 
	</div><!-- logo -->
	<div id="feed"><a href="/feed">
		<img src="/static/images/feed.png" alt="Subscribe to this blog"/></a>
	</div><!-- feed -->
</div><!-- header -->

<div id="body">
<div class="full container">
{% if message %}
	{% block message %}
		{{message}}
	{% endblock %}
{% endif %}
<div class="span-15 prepend-1 colborder">
{% block content %}
{% endblock %}
</div>
<div class="span-7 last">
	<ul>
	<li><a href="/about">About</a></li>
	<li><a href="/articulos">Articulos</a></li>
	<li><a href="http://picasaweb.google.com/jorge.izaac">Picasa</a></li>
	<li><a href="http://izaac.fedorapeople.org">Fedorapeople</a></li>
	<li><a href="http://delicious.com/jizaac">Delicious</a></li>
	<li><a href="http://github.com/izaac">GitHub</a></li>
	<li><a href="http://djangopeople.net/izaac/">Djangopeople</a></li>
	<li><a href="http://feeds2.feedburner.com/jizaac">FeedBurner</a></li>
	</ul>
	<h3>Sitios</h3>
	<p><small>Webs que acostumbro</small></p>
	<ul>
		<li><a href="http://planet.fedoraproject.org">Planet Fedora</a></li>
		<li><a href="http://www.djangoproject.com/community/">Django Community</a></li>
		<li><a href="http://news.google.com.mx/">Noticias</a></li>
		<li><a href="http://digg.com">Digg</a></li>
		<li><a href="http://www.tuaw.com/">Apple Weblog</a></li>
		<li><a href="http://www.librosweb.es/">LibrosWeb</a></li>
	</ul>
	{%block archives%}
	{%endblock%}
	<h3>RSS</h3>
	<ul>
	   <li><a href="/rss"><img border="0" src="/static/images/rss20.jpg"></a></li>
	</ul>
	{%block think%}
	{%endblock%}
	{%block twitter%}
	{%endblock%}
	{% block disqus%}
	{% endblock %}
</div>

</div><!-- full -->

</div><!-- body -->
<hr>
<div id="footer" class="container">
	&copy;2009 Izaac Blog - <a href="/about">Acerca de</a> - <a href="http://creativecommons.org/licenses/by-nc/2.5/mx/">Licencia CC</a><center><a href="http://code.google.com/appengine/"><img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" 
	alt="Powered by Google App Engine" /></a></center>
	{% block extrafooter %}
		
	{% endblock %}
</div>
{%block twitter_js%}
{%endblock%}
</body>
</html>