{% extends "base.html" %}
{% block content %}
<h1>Indice de Entradas</h1>
<h2>Entradas de Blog</h2>
<ul>
{%if entries%}
	{% for entry in entries %}
		<li><a href="{{entry.url}}">{{entry.title}}</a></li>
	{% endfor %}
{%endif%}
</ul>
{% if is_paginated %}
<p>
  {% if has_next %}
   <a href="entries{{ next }}">Atras</a>
  {% endif %}
  {% if has_next and has_previous %} | {% endif %} 
  {% if has_previous %}
  <a href="entries{{ previous }}">Adelante</a>
  {% endif %}
</p>
{% endif %}
{% endblock %}