{% extends "base.html" %}
{% block content %}
<h1>Indice de Entradas</h1>
<h2>Entradas de {{date}}</h2>
<ul>
{%if entries%}
	{% for entry in entries %}
		<li><a href="{{entry.url}}">{{entry.title}}</a></li>
	{% endfor %}
{%endif%}
</ul>

  {% if date_list %}
    <b>Por Mes:</b>
    <ul>
    {% for date_count in date_list %}
      <li><a href="{{ date_path }}/{{ date_count.date|date:"Y/m" }}/">{{ date_count.date|date:"F, Y" }}</a> ({{ date_count.count }})
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}