{% extends "formbase.html" %}

{% block entry %}
{% if not entry %}  
  Nueva Entrada
{% else %}
  Editando {{entry.title}}
{% endif %}

{% endblock %}

{% block content %}

<form id="form5" class="wufoo topLabel" autocomplete="off"
enctype="multipart/form-data" method="post" action="">

<div class="info">
{% if not entry %}
<h2>Nueva Entrada</h2>
<p>crear una nueva entrada en el log.</p>
{% else %}
<h2>Editando {{entry.title}}</h2>
{% endif %}
</div>

<ul>
<li id="fo5li0" class="   " >

<label class="desc" id="title0" for="Field0">
Titulo
<span id="req_0" class="req">*</span>
</label>

<div>
<input id="title" 
class="field text large"
name="title" 
tabindex="1"
type="text" maxlength="255" value="{{entry.title}}" 
  /> 
</div>



</li>

<li class="   " id="fo5li1" >

<label id="title1" class="desc" for="body">
Contenido
<span id="req_1" class="req">*</span>
</label>

<div>

<textarea id="body" 
class="field textarea large"
name="body" 
rows="10" cols="50" 
tabindex="2"  >{{entry.body}}</textarea>
</div>

<p class="instruct " id="instruct1"><small>You can use markdown, reStructuredText or Textile.</small></p>
</li>

<li id="fo5li8" class="section    " >
<h3 id="title8">Mas opciones</h3>
<p id="instruct8">markdown, tags, static page</p>
</li>

<li class="   " id="fo5li3" >
<label class="desc" id="title3" for="markup">
Markup
</label>

<div>

<select class="field select medium" 
id="markup" 
name="markup"
tabindex="3"> 
<option
  {% ifequal  entry.markdown "markdown" %}
  SELECTED
  {% endifequal %}
  value="markdown">Markdown</option>
<option {% ifequal  entry.markdown "textile" %}
  SELECTED{% endifequal  %}
  value="textile" 
>Textile</option>
<option {% ifequal  entry.markdown "plain" %}
  SELECTED{% endifequal  %}
  value="plain " 
>Plain </option>
</select>
</div>



</li>

<li id="fo5li5" class="   " >

<label class="desc" id="title5" for="tags">

Tags
</label>

<div>
<input id="tags" 
class="field text large"
name="tags" 
tabindex="4"
type="text" maxlength="255" 
{%if not entry%}
value=""
{%else%}
  {%if tags%}
   value="{{tags}}"
  {%endif%}
{%endif%}
  /> 
</div>

<p class="instruct " id="instruct5"><small>Tags, separated by space</small></p>
</li>

<li class="   " id="fo5li112" >
<label class="desc" id="title112">
Pagina Estatica
</label>
<span>
<input id="Field112" 
  name="static" 
   class="field checkbox" type="checkbox" 
{% if entry.static %}
   checked="True"
{% endif %}
   value="1" 
    tabindex="5"  />
<label class="choice" for="static">dont show this entry in blog</label>
</span>
<p class="instruct " id="instruct112"><small>Use this option to create "About", "Contact" etc., pages. </small></p>
</li>

<li class="   " id="fo5li113" >
<label class="desc" id="title113">
Permitir Comentarios
</label>
<span>
<input id="Field113" 
  name="comments" 
   class="field checkbox" type="checkbox" 
{% if entry.comments %}
   checked="True"
{% endif %}
{% if not entry %}
	checked="True"  
{% endif %}
   value="1" 
    tabindex="6"  />
<label class="choice" for="static">Allow users to enter comments on this page.</label>
</span>
</li>

<li class="buttons">
<input id="saveForm" class="btTxt" type="submit" tabindex="5" value="Submit"  />
</li>

<li style="display:none">
<label for="comment">Do Not Fill This Out</label>
<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
</li>
</ul>
</form>
{% endblock %}