<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>izaac log Admin | 
	{% block title %}
	 
	{% endblock %}
</title>

<!-- Meta Tags -->
<meta name="robots" content="index, nofollow, noarchive" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- CSS -->
<link rel="stylesheet" href="/static/css/forms/dynamic.css" type="text/css" />

<!-- JavaScript -->
<script type="text/javascript" src="/static/scripts/dynamic.js"></script>
</head>

<body id="public">

<img id="top" src="/static/images/top.png" alt="" />
<div id="container">
<h1><a href="/admin" title="Admin home">Admin Home</a></h1>
{% block content %}

{% endblock %}
</div><!--container-->
<img id="bottom" src="/static/images/bottom.png" alt="" />
</body>
</html>