{% extends "base.html" %}
{% block content %}
{% for entry in entries %}
	<div class="entry">
		<h1><a href="{{entry.url}}">{{entry.title}}</a></h1>
		<div class="date">{{entry.get_date|date:"d M Y \a\t g:i A"}}</div>
		<div class="body">
			{{entry.body_html}}
		</div><!-- body -->
	
		    <div class="tags">
				{% for tag in entry.tags %}				      					
					<a href="/topic/{{tag}}">{{tag}}</a>{%if not forloop.last%},{%endif%}
				{% endfor %}				  
			</div>
			{% if entry.comments %}   
			<div class="entrycomment">
				<a href="{{entry.url}}#disqus_thread">Comentarios</a>				
			</div><!-- entrycomment -->
			{% endif %}   
			<hr />
	</div><!-- entry -->

{% endfor %}

{% if is_paginated %}
<p>
  {% if has_next %}
   <a href="page{{ next }}">Atras</a>
  {% endif %}
  {% if has_next and has_previous %} | {% endif %} 
  {% if has_previous %}
  <a href="page{{ previous }}">Adelante</a>
  {% endif %}
</p>
{% endif %}
	<div class="container"><a href="/entries">Todas las Entradas</a></div>
{% endblock %}
{%block archives%}
     <h3>Archivos</h3>
     {% if date_list %}
     <small><b>Por Mes:</b></small>
    <ul>
    {% for date_count in date_list %}
      <li><small><a href="{{ date_path }}/{{ date_count.date|date:"Y/m" }}/">{{ date_count.date|date:"F, Y" }}</a> ({{ date_count.count }})</small></li>
    {% endfor %}
    </ul>
  {% endif %}     
{%endblock%}
{%block think%}
<embed wmode="opaque" src="http://static.ning.com/socialnetworkmain/widgets/index/swf/badge.swf?v=4.0.9%3A20487" FlashVars="backgroundColor=0xFFFFFF&textColor=0x000099&config=http%3A%2F%2Fwww.thinkatheist.com%2Fmain%2Fbadge%2FshowPlayerConfig%3F%26size%3Dsmall%26username%3D3gc88dpy00ztf" width="206" height="104" bgColor="#FFFFFF" scale="noscale" allowScriptAccess="always" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"> </embed><br /><small><a href="http://www.thinkatheist.com">Visit <em>Think Atheist</em></a></small><br />
{%endblock%}
{%block twitter%}
<div id="twitter_div">
<h2 class="sidebar-title">Twitter</h2>
<ul id="twitter_update_list"></ul>
<a href="http://twitter.com/jizaac" id="twitter-link" style="display:block;text-align:right;">follow me on Twitter</a>
</div>
{%endblock%}
{% block disqus %}
<div id="dsq-recentcomments" class="dsq-widget"><h3 class="dsq-widget-title">Comentarios Recientes</h3><script type="text/javascript" src="http://disqus.com/forums/jizaac/recent_comments_widget.js?num_items=5&avatar_size=32"></script></div><a href="http://disqus.com">Powered by Disqus</a>
{% endblock %}
{% block extrafooter %}
<script type="text/javascript">
//<![CDATA[
(function() {
var links = document.getElementsByTagName('a');
var query = '?';
for (var i = 0; i < links.length; i++) {
if (links[i].href.indexOf('#disqus_thread') >= 0) {
query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
}
}
document.write('<script type="text/javascript" src="http://disqus.com/forums/jizaac/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>      
{% endblock %}
{%block twitter_js%}
<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/jizaac.json?callback=twitterCallback2&amp;count=5"></script>
{%endblock%}